.car {
  width: 70%;
  align-items: left;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  float: right;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(94,94,94,0.42);
  -moz-box-shadow: 0px 0px 4px 0px rgba(94,94,94,0.42);
  box-shadow: 0px 0px 4px 0px rgba(94,94,94,0.42);
  background-color: #fff;
}

.car .car-info {
  float: left;
   
}

.car .car-info,
.car .car-price {
  padding: 20px;
  margin-top: 5px;
}

.car .car-price {
  float: right;
}
.car .car-img {
  float: left;
}

.car .car-img
 {
  width: 30%;
  height: 100%;
  text-align: left;
}

.car .car-img {
  
  margin: 0;
  text-align: center;
}

.car .car-title {
  font-weight: 800;
  font-size: 1.3em;
  float: left;
  line-height: 40px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
 
}

.car .car-price .car-price-sale {
  color: #77a1d3;
  font-weight: 800;
  font-size: 1.3em;
  line-height: 40px;
}



.car button.hide {
  display: none;
}
