.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  text-align: left;
  margin: 5px 0;
}

.flex-container .cars-list {
  width: 100%;
}

.display-table {
  margin: 5em;
}
